<div class="jumbotron center">
    <h1>Welcome to MyRecipes</h1>
    <h2>This is MasterChef G9's professional cooking course!</h2>
    <%= link_to "Sign up now","", class:"btn btn-lg btn-primary" %>
</div>

<div class="row">
    <div class="col-md-4">
        <h3 class="midrow">View Recipes as Guest User</h3>
        <h2 class="left">Browse and view recipes as a guest and sign up later</h2>
        <%= link_to "Browse Recipe Listings","", class:"btn btn-default btn-info"%>
    </div>
    <div class="col-md-4">
        <h3 class="midrow">View Recipes as Guest User</h3>
        <h2 class="left">Browse and view recipes as a guest and sign up later</h2>
        <%= link_to "Browse Recipe Listings","", class:"btn btn-default btn-info"%>
    </div>
    <div class="col-md-4">
        <h3 class="midrow">View Recipes as Guest User</h3>
        <h2 class="left">Browse and view recipes as a guest and sign up later</h2>
        <%= link_to "Browse Recipe Listings","", class:"btn btn-default btn-info"%>
    </div>
</div>