<header class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <%= link_to "MYRECIPES", "", class:"btn btn-lg btn-warning", id:"logo" %>
    <div class="nav_item">
      <%= link_to "Link 1", "", class:"btn btn-success" %>
    </div>
    <div class="nav_item">
      <%= link_to "Link 2", "", class:"btn btn-success" %>
    </div>
    <div class="nav_item">
      <%= link_to "Link 3", "", class:"btn btn-success" %>
    </div>
  </div>
</header>